@model IEnumerable<Core.Models.Op>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OPDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPCOLLECTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPCONTROL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUSER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EATTRIBUTE1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OPDESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPCOLLECTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPCONTROL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUSER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EATTRIBUTE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OPCODE }) |
            @Html.ActionLink("Details", "Details", new { id=item.OPCODE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OPCODE })
        </td>
    </tr>
}

</table>
